@import "./pages/superAdin/indexSuperAdmin.scss";
@import "./pages/superAdin/usuarios.scss";
@import "./pages/superAdin/cursos.scss";
@import "./pages/superAdin/grade.scss";
@import "./pages/superAdin/configurations.scss";