#footer {
  padding: 6px 0;
  font-size: 0.75rem;
  text-align: center;

  color: #cbd5e1; /* texto claro elegante */

  background: linear-gradient(
    180deg,
    #2b4566 0%,
    #2c415a 100%
  );

  border-top: 2px solid #3e5775;
}


.footerLogins{
    margin-left: 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Altura del footer */
}