*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   :root {
  --header-height: 110px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Empuja el footer hacia abajo si sobra espacio */
}