.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.overlay-content {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 520px;
  padding: 1rem;
  border-radius: 20px;
}

.select-Page{
  width: auto !important;
}